In [102]:
import pandas as pd
import numpy as np

In [103]:
rating = pd.read_csv('google_review_ratings.csv')

In [104]:
rating.head(n = 3)

,User,Category 1,Category 2,Category 3,Category 4,Category 5,Category 6,Category 7,Category 8,Category 9,...,Category 16,Category 17,Category 18,Category 19,Category 20,Category 21,Category 22,Category 23,Category 24,Unnamed: 25
0,User 1,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.35,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN
1,User 2,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.64,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN
2,User 3,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN

In [98]:
###As per UCI
# Attribute 1 : Unique user id
# Attribute 2 : Average ratings on churches
# Attribute 3 : Average ratings on resorts
# Attribute 4 : Average ratings on beaches
# Attribute 5 : Average ratings on parks
# Attribute 6 : Average ratings on theatres
# Attribute 7 : Average ratings on museums
# Attribute 8 : Average ratings on malls
# Attribute 9 : Average ratings on zoo
# Attribute 10 : Average ratings on restaurants
# Attribute 11 : Average ratings on pubs/bars
# Attribute 12 : Average ratings on local services
# Attribute 13 : Average ratings on burger/pizza shops
# Attribute 14 : Average ratings on hotels/other lodgings
# Attribute 15 : Average ratings on juice bars
# Attribute 16 : Average ratings on art galleries
# Attribute 17 : Average ratings on dance clubs
# Attribute 18 : Average ratings on swimming pools
# Attribute 19 : Average ratings on gyms
# Attribute 20 : Average ratings on bakeries
# Attribute 21 : Average ratings on beauty & spas
# Attribute 22 : Average ratings on cafes
# Attribute 23 : Average ratings on view points
# Attribute 24 : Average ratings on monuments
# Attribute 25 : Average ratings on gardens

In [105]:
column_names = ['user_id','churches','resorts','beaches','parks','theatres','museums','malls','zoo','restaurants','pubs/bars','local_services','burger_shops','hotels','juice_bars','art_galleries','dance_clubs','swimming_pools','gyms','bakeries','beauty_spa','cafes','view_points','monuments','gardens','unammed']

In [106]:
rating.columns = column_names

In [107]:
rating.head()

,user_id,churches,resorts,beaches,parks,theatres,museums,malls,zoo,restaurants,...,dance_clubs,swimming_pools,gyms,bakeries,beauty_spa,cafes,view_points,monuments,gardens,unammed
0,User 1,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.35,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN
1,User 2,0.0,0.0,3.63,3.65,5.0,2.92,5.0,2.64,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN
2,User 3,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN
3,User 4,0.0,0.5,3.63,3.63,5.0,2.92,5.0,2.35,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN
4,User 5,0.0,0.0,3.63,3.63,5.0,2.92,5.0,2.64,2.33,...,0.59,0.5,0.0,0.5,0.0,0.0,0.0,0.0,0.0,NaN

In [108]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5456 entries, 0 to 5455
Data columns (total 26 columns):
user_id           5456 non-null object
churches          5456 non-null float64
resorts           5456 non-null float64
beaches           5456 non-null float64
parks             5456 non-null float64
theatres          5456 non-null float64
museums           5456 non-null float64
malls             5456 non-null float64
zoo               5456 non-null float64
restaurants       5456 non-null float64
pubs/bars         5456 non-null float64
local_services    5456 non-null object
burger_shops      5455 non-null float64
hotels            5456 non-null float64
juice_bars        5456 non-null float64
art_galleries     5456 non-null float64
dance_clubs       5456 non-null float64
swimming_pools    5456 non-null float64
gyms              5456 non-null float64
bakeries          5456 non-null float64
beauty_spa        5456 non-null float64
cafes             5456 non-null float64
view_points       5456 non-null float64
monuments         5456 non-null float64
gardens           5455 non-null float64
unammed           2 non-null float64
dtypes: float64(24), object(2)
memory usage: 1.1+ MB

#### Local services is in object type it needs conversrion in float

In [32]:
#rating['local_services'] = rating['local_services'].astype('float')
#Was giving error

In [109]:
rating['local_services'][rating['local_services'] == '2\t2.']

2712    2\t2.
Name: local_services, dtype: object

In [110]:
local_services_mean = rating['local_services'][rating['local_services'] != '2\t2.']

In [111]:
rating['local_services'][rating['local_services'] == '2\t2.'] = np.mean(local_services_mean.astype('float64'))

C:\Users\chaitali.acharya\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [112]:
rating['local_services'] = rating['local_services'].astype('float64')

#### Target is to predict gym membersip
* We dont have a column that will help us on that
* We will create one from existing data column gyms

In [113]:
def is_member(gym_rating):
    if gym_rating >= 2.5:
        return 1
    else:
        return 0
rating['is_member'] = rating.gyms.map(is_member)

In [114]:
feature = rating.drop(columns = ['user_id', 'unammed'])
target = rating['is_member']

In [117]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(feature,target)

#### Ceating pipeline

In [119]:
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [120]:
pipeline = make_pipeline(SimpleImputer(strategy = 'mean'), StandardScaler(),RandomForestClassifier(n_estimators=200) )

#### Just Attempting to apply hyper tuning

In [121]:
pipeline

Pipeline(steps=[('simpleimputer', SimpleImputer()),
                ('standardscaler', StandardScaler()),
                ('randomforestclassifier',
                 RandomForestClassifier(n_estimators=200))])

In [132]:
params = {'randomforestclassifier__n_estimators':[50,100,200,250]}

In [133]:
gs = GridSearchCV(pipeline, param_grid=params, cv=5, n_jobs=4)

In [134]:
gs.fit(X_train, y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('simpleimputer', SimpleImputer()),
                                       ('standardscaler', StandardScaler()),
                                       ('randomforestclassifier',
                                        RandomForestClassifier(n_estimators=200))]),
             n_jobs=4,
             param_grid={'randomforestclassifier__n_estimators': [50, 100, 200,
                                                                  250]})

In [135]:
gs.best_params_

{'randomforestclassifier__n_estimators': 50}

#### Fitting the model

In [136]:
gs.fit(X_train, y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('simpleimputer', SimpleImputer()),
                                       ('standardscaler', StandardScaler()),
                                       ('randomforestclassifier',
                                        RandomForestClassifier(n_estimators=200))]),
             n_jobs=4,
             param_grid={'randomforestclassifier__n_estimators': [50, 100, 200,
                                                                  250]})

In [137]:
prediction = gs.predict(X_test)

In [138]:
prediction

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

#### Please let me know a better way of doing this problem.Right now I have just attempted to apply learnt techniques on this data for assignment