In [58]:
import pandas as pd

In [59]:
path = 'https://raw.githubusercontent.com/edyoda/Data-Scientist-program/master/Practice%20Problems/data/student-mat.csv'

In [37]:
#Function to load data and show header

In [60]:
def load_and_return_data(path):
    student_data = pd.read_csv(path, sep =';')
    return student_data

In [62]:
load_and_return_data(path).head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [63]:
data = load_and_return_data(path)

In [64]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [11]:
#identify col types
def identify_col_types(data):
    return data.dtypes

In [65]:
identify_col_types(data)

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [66]:
data.school.unique()

array(['GP', 'MS'], dtype=object)

In [ ]:
# school - student's school (binary: "GP" - Gabriel Pereira or "MS" - Mousinho da Silveira)
# sex - student's sex (binary: "F" - female or "M" - male)
# age - student's age (numeric: from 15 to 22)
# address - student's home address type (binary: "U" - urban or "R" - rural)
# famsize - family size (binary: "LE3" - less or equal to 3 or "GT3" - greater than 3)
# Pstatus - parent's cohabitation status (binary: "T" - living together or "A" - apart)
# Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
# Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
# Mjob - mother's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")
# Fjob - father's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")
# reason - reason to choose this school (nominal: close to "home", school "reputation", "course" preference or "other")
# guardian - student's guardian (nominal: "mother", "father" or "other")
# traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
# studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
# failures - number of past class failures (numeric: n if 1<=n<3, else 4)
# schoolsup - extra educational support (binary: yes or no)
# famsup - family educational support (binary: yes or no)
# paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
# activities - extra-curricular activities (binary: yes or no)
# nursery - attended nursery school (binary: yes or no)
# higher - wants to take higher education (binary: yes or no)
# internet - Internet access at home (binary: yes or no)
# romantic - with a romantic relationship (binary: yes or no)
# famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
# freetime - free time after school (numeric: from 1 - very low to 5 - very high)
# goout - going out with friends (numeric: from 1 - very low to 5 - very high)
# Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
# Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
# health - current health status (numeric: from 1 - very bad to 5 - very good)
# absences - number of school absences (numeric: from 0 to 93)
# these grades are related with the course subject, Math or Portuguese:¶
# G1 - first period grade (numeric: from 0 to 20)
# G2 - second period grade (numeric: from 0 to 20)
# G3 - final grade (numeric: from 0 to 20, output target)

### Add average marks section

In [67]:
def cal_average_marks(column):
    total = column.G1 + column.G2 + column.G3
    average = total/3
    return round(average,2)

data['Average_marks'] = data[['G1','G2','G3']].apply(cal_average_marks, axis = 1)

In [68]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Average_marks
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,5.67
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,5.33
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,8.33
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,14.67
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,8.67

## Plot the relationship between romantic and average marks

In [34]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Q3 Does the data have any missing value

In [45]:
data.isnull().sum()

school           0
sex              0
age              0
address          0
famsize          0
Pstatus          0
Medu             0
Fedu             0
Mjob             0
Fjob             0
reason           0
guardian         0
traveltime       0
studytime        0
failures         0
schoolsup        0
famsup           0
paid             0
activities       0
nursery          0
higher           0
internet         0
romantic         0
famrel           0
freetime         0
goout            0
Dalc             0
Walc             0
health           0
absences         0
G1               0
G2               0
G3               0
Average_marks    0
dtype: int64

In [ ]:
# The data does not have missing value

## Q4. Transform all the categorial columns into numberical columns ?

In [73]:
#1. Getting categorical data
cat_data = data.select_dtypes(include = ['object'])

In [74]:
#2. Get Label encoder
from sklearn.preprocessing import LabelEncoder

In [75]:
label_encoders = {}
for col in cat_data.columns:
    le = LabelEncoder()
    data[col + '_en'] = le.fit_transform(cat_data[col])

In [76]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,reason_en,guardian_en,schoolsup_en,famsup_en,paid_en,activities_en,nursery_en,higher_en,internet_en,romantic_en
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,0,1,1,0,0,0,1,1,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,0,0,0,1,0,0,0,1,1,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,1,1,0,1,0,1,1,1,0
3,GP,F,15,U,GT3,T,4,2,health,services,...,1,1,0,1,1,1,1,1,1,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,1,0,0,1,1,0,1,1,0,0

## Q5. Create a regression for predicting marks based on other columns

#### Step 1 drop categorical columns from data

In [78]:
data.select_dtypes(include= ['object']).columns

Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic'],
      dtype='object')

In [79]:
cat_cols = ['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic']

In [82]:
data.drop(columns = cat_cols, axis = 1, inplace= True)

#### Step2 : Creating linear regression

In [84]:
from sklearn.linear_model import LinearRegression

In [85]:
lr = LinearRegression()

In [87]:
x = data.drop(columns = ['Average_marks'], axis = 1)
y = data['Average_marks']

## Q6. Split the model into train & test

In [88]:
from sklearn.model_selection import train_test_split

In [91]:
X_train, X_test, y_train, y_test  = train_test_split(x,y,test_size = 1/3)

## Q7. Train the model using training data ?

In [92]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

## Q8. Test the model using test data ?

In [93]:
y_pred = lr.predict(X_test)

## Q9. Find accuracy of the model using score function ?

In [94]:
lr.score(X_test, y_test)

0.9999992584193964


## Q10. Create classification model for predicting if internet in available to the student

In [100]:
x_class = data.drop(columns = ['internet_en'])
y_class = data['internet_en']

In [103]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()

## Q11. Split data for training & testing ?

In [102]:
X_c_train, X_c_test, y_c_train, y_c_test = train_test_split(x_class, y_class, test_size= 1/3, random_state = 42)


## Q12. Train classification model

In [104]:
log.fit(X_c_train, y_c_train)

C:\Users\Chaitali\Important\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

## Q13. Find score, test for few more models (LogisticRegression, DecisionTree, RandomForest

In [106]:
y_pred_log = log.predict(X_c_test)

In [107]:
log.score(X_c_test,y_c_test)

0.7803030303030303

### Decision Tree

In [109]:
from sklearn.tree import DecisionTreeClassifier

In [111]:
dtree = DecisionTreeClassifier()

In [112]:
dtree.fit(X_c_train, y_c_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [114]:
y_pred_dtree = dtree.predict(X_c_test)

In [115]:
dtree.score(X_c_test,y_c_test)

0.6515151515151515

### Random Forest

In [116]:
from sklearn.ensemble import RandomForestClassifier

In [117]:
rforest = RandomForestClassifier()

In [118]:
rforest.fit(X_c_train, y_c_train)

C:\Users\Chaitali\Important\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [120]:
y_pred_rforest = rforest.predict(X_c_test)

In [125]:
print(log.score(X_c_test,y_c_test))
print(dtree.score(X_c_test,y_c_test))
print(rforest.score(X_c_test,y_c_test))

0.7803030303030303
0.6515151515151515
0.8181818181818182

## Q14. Cluster the students into 3 groups using KMeans

In [126]:
from sklearn.cluster import KMeans

In [129]:
kmeans = KMeans(n_clusters = 3)

In [130]:
kmeans.fit(data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)